ul{
    list-style-type: none;
}

span{
    color: rgb(255, 0, 0);
    cursor: pointer;
   /*  border: 1px solid red; */
}

#list li:first-child{
    margin-top: 30px;

}

li{
    cursor: pointer;
}

.modal_open{
    display: block;
    top: 150px;
}

.text-decor{
    text-decoration: line-through;
}

.disp{
    display: none;
}
.disp{
    display: none;
}